*{
    box-sizing: border-box;
}
body{
    background-color: gray;
    font-family: "Open Sans", sans-serif;
}

.container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}
    /* start the header */
header{
    position: absolute;
    left: 0;
    width: 100%;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
}

header .container::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 0;
}
.logo img{
    width: 100%;
}

nav{
   
}

header nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul li{
    list-style: none;
}

header nav ul li .active{
    color: #19c8fa;
    border-bottom: 1px solid #19c8fa;

}

header nav ul li a:hover{
    color: #19c8fa;
    border-bottom: 1px solid #19c8fa;
    transition: .3s;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    padding: 40px 15px;
    font-size: 15px;
    /* display: block; */
    position: relative;
    z-index: 2;
    text-transform: capitalize;
}

header nav {    
   margin-left: auto;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

form {
    padding-left: 10px;
    margin-right: 20px;
    border-left: 1px solid white;
    color: white;
    font-size: 20px;
}
/* start responsiv */

@media (max-width: 758px) {
     header nav { 
         position: absolute;
         top: 100%;
         left: 0;
         transform: scale(1,0);
         transform-origin: top;
     }
     .toggle-menu{
         margin-left: auto;
         margin-right: 20px;
         font-size: 20px;
         color: rgb(255, 255, 255);
     }
     #checkbox{
        display: none;
     }
     input:checked ~label{
         color: #19c8fa;
     }
     .container{
         position: relative;
     }
     #checkbox:checked ~ nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: flex;
        transform: scale(1,1);
        transform-origin: top;
        transition: transform .3s ease-in-out ;
     }
     #checkbox:checked ~ nav ul{
         flex-direction: column;
         width: 100%;
         justify-content: flex-start;
         align-items: flex-start;
         position: absolute;
         top: 100%;
         left: 0;
         background-color: #15171848;
         padding-left: 0;
     }

     #checkbox:checked ~ nav ul li{
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid transparent;
     }

     #checkbox:checked ~ nav ul li:last-child{
        border-bottom: none;
     }
     #checkbox:checked ~ nav ul a{
         border: none;
         opacity: 1;
         transition: opacity .1s  .2s ease;
     }

     nav ul a {
        opacity: 0;
     }

     nav ul li:hover  {
        border-bottom: 1px solid #19c8fa;
        transition: border .3s linear;
     }
     
}
@media (min-width: 759px){
    #checkbox{
        display: none;
     }
     .toggle-menu{
     display: none;
    }
}
    /* end the header */


.section_1{
    min-height: 100vh;
    background-image: url(../images/landing.jpg);
    background-size: cover;
}